.Container {
	min-height: 400px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	float: left;
}

.TitleBox{
	width: 100%;
	border-color: black;
	border-bottom-style: solid;
	border-width: 2px;
}

.ButtonOverride{
	height: 20px;
	width: 20px;
	padding: 0;
	margin-top: 1px;
	margin-bottom: 2px;
}

.EditButton{
	float: right;
	float: top;
	margin-bottom: 1px;
}


.ColorButton{
	float: right;
	float: top;
}

.Image{
	height: 100%;
	width: 100%;
}

.AcceptButton{
	float: top;
}

.ColorInput{
	float: left;
	width: 25%;
	margin: 2%;
}

.ColorRow{
	padding-top: 3px;
}