.Container {
	width: 30%;
	min-height: 400px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	margin: 1%;
	float: left;
}

.TitleBox{
	width: 100%;
	border-color: black;
	border-bottom-style: solid;
	border-width: 2px;
}
